.about-headers {
    font-family: 'Hemi Head';
    font-size: 3rem;
    text-align: center;
    color: var(--white);
}

.about-text {
    font-family: 'Helvetica Neue';
    color: var(--white);
    font-size: 1.2rem;
    width: 319px;
}

.about-btn {
    text-decoration: none;
    color: white;
}

.about-btn {
    text-decoration: none;
    color: white;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Hemi Head 426';
    font-size: 2.5rem;
    width: 20rem;
    margin: 0 auto;
    padding-top: 0.9rem;
    padding-right:3rem ;
    text-align: center;
}

.about-btn:hover {
    background: linear-gradient(to right, var(--red), var(--white));
    color: var(--black);
}

.about-btn:active {
    background: var(--black);
    color: var(--white);
}




.group-img-containers {
    width: 322px;
    height: 230px;
    object-fit: cover;
}

.group-imgs {
    width: 100%;
}

.professor-img-containers {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

.professor-imgs {
    width: 100%;
}

