@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hemi Head';
    src: url('../fonts/hemi-head.woff');
}

:root {
    --black: #231F20;
    --red: #981A13;
    --light-red: #dc8884;
    --blue: #005F85;
    --light-blue: #2c96c0;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 8px;
}

body {
    background-color: var(--black);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.nav {
    height: fit-content;
    width: 100vw;
    padding: 1rem 10rem 1rem 10rem;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    /* background-color: #981A13; */
}

.nav-menu-img {
    max-width: 300px;
}

.nav-menu {
    align-items: center;
    gap: 4rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.nav-menu a {
    color: var(--white);
    font-size: 3rem;
    text-decoration: none;
}

.nav-menu a:hover {
    color: var(--light-red);
}

.social-icons {
    gap: .75rem;
}

.social-icons img {
    max-width: 5rem;
}

.gradient-border {
    background: linear-gradient(to right, var(--red), var(--white));
    height: 1.5rem;
}

/* LOGIN LANDING PAGE - BACKEND */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-container {
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: auto;
}

.container img {
    width: 270px;
    margin-bottom: 10px
}

.login-container h1 {
    color: rgb(204, 204, 205);
    margin-bottom: 2px;
    font-size: 24px;

}

.login-container p {
    color: rgb(204, 204, 205);
    margin-bottom: 20px;
    font-size: 9px;
    
}

.login-container h2 {
    color: rgb(47, 47, 47);
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.login-container h3 {
    color: rgb(47, 47, 47);
    font-size: 10px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    
}

.login-container a {
    font-size: 12px;

}

.login-container .form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container label {
    position: relative;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgb(67, 67, 67);

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--blue);
    box-sizing: border-box;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--white);
    margin-bottom: 8px;
    /* margin-top: 8px; */
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-bottom-color: var(--blue);

}

.login-container input[type="text"]:focus+label,
.login-container input[type="password"]:focus+label {
    top: -15px;
    font-size: 16px;
    color: var(--blue);

}


.login-container input[type="submit"] {
    width: 100%;
    background-color: var(--blue);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 20px;
}

.login-container input[type="submit"]:hover {
    background-color: var(--red);
}

.eye-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    color: var(--black);
}



/* Adjustments for mobile devices */
@media only screen and (max-width: 600px) {
    .login-container {
        width: 80%;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
    }

    #changeIcon {
        right: 90px;
        top: 65.7%;
    }
}

/* Adjustments for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .login-container {
        width: 50%;

    }
}